In [1]:
print('hello world!')

hello world!

In [2]:
print("Hello world!")

Hello world!

In [3]:
x = 5
y = "Amey"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [4]:
x = "amey"
x = 'amey'
print(x)

amey

In [6]:
a = 'amey'
A = 'Amey'
print(A)

Amey

In [7]:
myvar='amey'

my_var='amey'

_my_var='amey'

myVar='amey'

MYVAR='amey'

myvar2='amey'

In [8]:
#camel Case

myVariableName='john'

#Pascal Case

MyVariableName='john'

#Snake Case

my_variable_name='john'

In [10]:
x,y,z = "orange", 'pineapple', "apple"

print(x)
print(y)
print(z)

orange
pineapple
apple

In [12]:
x=y=z="banana"
print(x)
print(y)
print(z)

banana
banana
banana

In [13]:
fruits = ['apple','banana', 'cherry']
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
x='python'
y='java'
z='Go'

print(x+y+z)

pythonjavaGo

In [16]:
x='python'
y='java'
z='Go'

print(x,y,z)

python java Go

In [17]:
x,y = 5,10
print(x+y)

15

In [18]:
x=5
y='steel'

print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
x=5
y='steel'

print(x,y)

5 steel

In [22]:
x="and java"

def timepass():
    print("python "+x)

timepass()

python and java

In [2]:
x='and java'

def newfunc1():
    x="is awesom"
    print('python '+x)

newfunc1()
print('python ' +x)

python is awesom
python and java

In [4]:
def newfunct2():
    global q
    q='fantastic'

newfunct2()

print('python is '+q)

python is fantastic

In [5]:
w='awesome'
def newfunc3():
    global w
    w='fantastic'

newfunc3()

print('python is '+w)

python is fantastic

In [2]:
a = """
HI MY NAME IS AMEY
"""
print(a)

HI MY NAME IS AMEY

In [4]:
a = '''
Hi My Name is Amey
'''
print(a)

Hi My Name is Amey

In [5]:
a = 'hello world!'
print(a[1])

e

In [8]:
for x in 'hello world!':
    print(x)

h
e
l
l
o

w
o
r
l
d
!

In [10]:
txt = "the best things in life are free!"
print("amey" in txt)

False

In [14]:
if "free" in txt:
    print("character or statment is exisit")
else:
    print("character or statment is not exisit")

character or statment is exisit

In [2]:
thislist = ['apple', 'banana', 'cherry']
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
if 'apple' in thislist:
    print('yes')
    print(thislist.index('apple'))
else:
    print('No')

yes
0

In [4]:
thislist[1] = 'blackcurrent'
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [5]:
thislist[1:3] = ['banana', 'watermelon']
print(thislist)

['apple', 'banana', 'watermelon']

In [6]:
thislist=['orange','cheery', 'kiwi']
print(thislist)

['orange', 'cheery', 'kiwi']

In [7]:
print(thislist)

['orange', 'cheery', 'kiwi']

In [8]:
thislist.insert(3, "watermelon")

In [9]:
print(thislist)

['orange', 'cheery', 'kiwi', 'watermelon']

In [10]:
for i in range(1):
    thislist.append("blackcurrent")

print(thislist)

['orange', 'cheery', 'kiwi', 'watermelon', 'blackcurrent']

In [12]:
for i in range(len(thislist)):
    thislist.append("banana")
    thislist.append("pineapple")
    thislist.append("apple")
    
print(thislist)

['orange', 'cheery', 'kiwi', 'watermelon', 'blackcurrent', 'banana', 'pineapple', 'apple', 'banana', 'pineapple', 'apple', 'banana', 'pineapple', 'apple', 'banana', 'pineapple', 'apple', 'banana', 'pineapple', 'apple']

In [14]:
thislist

['orange',
 'cheery',
 'kiwi',
 'watermelon',
 'blackcurrent',
 'banana',
 'pineapple',
 'apple',
 'banana',
 'pineapple',
 'apple',
 'banana',
 'pineapple',
 'apple',
 'banana',
 'pineapple',
 'apple',
 'banana',
 'pineapple',
 'apple']

In [15]:
thislist = list(set(thislist))
print(thislist)

['orange', 'banana', 'apple', 'blackcurrent', 'kiwi', 'cheery', 'watermelon', 'pineapple']

In [16]:
# remove -> method is removes the specified item.

thislist.remove("banana")
print(thislist)


#POP -> method is removes the specified index.

thislist.pop(3)
print(thislist)

['orange', 'apple', 'blackcurrent', 'kiwi', 'cheery', 'watermelon', 'pineapple']
['orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple']

In [17]:
print(thislist)

['orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple']

In [19]:
#delete del -> keyword also remove the specified index

del thislist[0]
print(thislist)

#orange and apple is delete from the list

['blackcurrent', 'cheery', 'watermelon', 'pineapple']

In [25]:
#Clear() -> method empties the list

thislist.clear()
print(thislist)

[]

In [26]:
thislist=['orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple']

In [27]:
thislist

['orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple']

In [2]:
fruits = ('orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple')

In [3]:
fruits

('orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple')

In [4]:
for x in fruits:
    print(x)

orange
apple
blackcurrent
cheery
watermelon
pineapple

In [7]:
for x in range(len(fruits)):
    print(fruits[x], x)

orange 0
apple 1
blackcurrent 2
cheery 3
watermelon 4
pineapple 5

In [9]:
i=0

while i < len(fruits):
    print(fruits[i], i)
    i = i +1

orange 0
apple 1
blackcurrent 2
cheery 3
watermelon 4
pineapple 5

In [10]:
#join two tuples

car = ("BMW", "AUDIO", "MG", "SKODA")

In [11]:
joinTuple = car + fruits

print(joinTuple)

('BMW', 'AUDIO', 'MG', 'SKODA', 'orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple')

In [12]:
joinTuple = fruits *3
print(joinTuple)

('orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple', 'orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple', 'orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple')

In [13]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [14]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [15]:
# sets

In [16]:
thisset = {'orange', 'apple', 'blackcurrent', 'cheery', 'watermelon', 'pineapple'}

In [17]:
thisset

{'apple', 'blackcurrent', 'cheery', 'orange', 'pineapple', 'watermelon'}

In [22]:
x = list(thisset)
x.append("cheery")
thisset= set(x)
print(thisset)

{'graph', 'blackcurrent', 'pineapple', 'apple', 'cheery', 'watermelon', 'orange'}

In [24]:
x = list(thisset)
x.append("cheery")
thistuple= tuple(x)
print(thistuple)

('graph', 'blackcurrent', 'pineapple', 'apple', 'cheery', 'watermelon', 'orange', 'cheery', 'cheery')

In [26]:
#set
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [27]:
print(len(thisset))

5

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [29]:
print(type(thisset))

<class 'set'>

In [69]:
## set construstor

thisset = set(("apple", "banana", "cherry"))

print(thisset)

{'banana', 'apple', 'cherry'}

In [63]:
for x in thisset:
    print(x)

banana
apple
cherry

In [64]:
print("banana" in thisset)

True

In [65]:
thisset

{'apple', 'banana', 'cherry'}

In [35]:
thisset.add("orange")

In [36]:
print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [70]:
tropicalSet={"pineapple", "mango", "papaya", "orange"}

In [71]:
thisset.update(tropicalSet)
print(thisset)

{'cherry', 'mango', 'pineapple', 'banana', 'apple', 'papaya', 'orange'}

In [53]:
mySet=["car","bike","truck"]

thisset.update(mySet)
print(thisset)

{'bike', 'pineapple', 'car', 'papaya', 'truck', 'mango', 'orange'}

In [54]:
##remove

thisset.remove("orange")
print(thisset)

{'bike', 'pineapple', 'car', 'papaya', 'truck', 'mango'}

In [55]:
thisset.discard("mango")
print(thisset)

{'bike', 'pineapple', 'car', 'papaya', 'truck'}

In [56]:
thisset.pop()
print(thisset)

{'bike', 'pineapple', 'papaya', 'truck'}

In [57]:
thisset.pop()
print(thisset)

{'bike', 'pineapple', 'truck'}

In [50]:
thisset.clear()
print(thisset)

set()

In [68]:
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [72]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'orange', 'papaya', 'pineapple'}

In [73]:
for x in thisset:
    print(x)

cherry
mango
pineapple
banana
apple
papaya
orange

In [74]:
newSet=thisset.union(tropicalSet)
print(newSet)

{'pineapple', 'apple', 'papaya', 'cherry', 'banana', 'mango', 'orange'}

In [75]:
thisset.update(tropicalSet)

In [76]:
print(thisset)

{'pineapple', 'apple', 'papaya', 'cherry', 'banana', 'mango', 'orange'}

In [78]:
##keeping only the duplicates

x={"apple", "banana", "cherry"}
y={"google", "microsoft", "apple", "banana"}

x.intersection_update(y)

print(x)

{'banana', 'apple'}

In [80]:

x={"apple", "banana", "cherry"}
y={"google", "microsoft", "apple", "banana"}

z=x.intersection(y)

print(z)

{'banana', 'apple'}

In [81]:

x={"apple", "banana", "cherry"}
y={"goole", "microsoft", "apple", "banana"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'goole', 'microsoft'}

In [83]:
x={"apple", "banana", "cherry"}
y={"goole", "microsoft", "apple", "banana"}

z=x.symmetric_difference(y)

print(z)

{'cherry', 'goole', 'microsoft'}

In [85]:
x={"apple", "banana", "cherry", True}
y={"goole", "microsoft", "apple", "banana", 232323}

z=x.symmetric_difference(y)

print(z)

{True, 232323, 'cherry', 'goole', 'microsoft'}

In [87]:
## dictionary

thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018"
}

print(thisDict)

{'brand': 'TATA', 'model': 'Nexon', 'year': '2018'}

In [88]:
print(thisDict["brand"])

TATA

In [90]:
print(thisDict["model"])

Nexon

In [91]:
# duplicates not allowed

thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018",
    "year":2024
}

print(thisDict)

{'brand': 'TATA', 'model': 'Nexon', 'year': 2024}

In [92]:
print(len(thisDict))

3

In [99]:
thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018",
    "year":2024,
    "colours":["red","white"]
}


print(thisDict)

{'brand': 'TATA', 'model': 'Nexon', 'year': 2024, 'colours': ['red', 'white']}

In [96]:
print(type(thisDict))

<class 'dict'>

In [97]:
type(thisDict)

dict

In [98]:
thisDict=dict(firstnamae="Amey", lastname="Didolkar", country="India")
print(thisDict)

{'firstnamae': 'Amey', 'lastname': 'Didolkar', 'country': 'India'}

In [101]:
thisDict.keys()

dict_keys(['brand', 'model', 'year', 'colours'])

In [104]:
##added a new item in the DICT

thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018",
    "year":2024,
    "colours":["red","white"]
}

x = thisDict.keys()

print(x)

thisDict["Country"]="India"

print(x)

dict_keys(['brand', 'model', 'year', 'colours'])
dict_keys(['brand', 'model', 'year', 'colours', 'Country'])

In [107]:
x = thisDict.values()
print(x)

dict_values(['TATA', 'Nexon', 2024, ['red', 'white'], 'India'])

In [109]:
## cahnge the value 
thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018",
    "year":2024,
    "colours":["red","white"]
}

x = thisDict.values()
print(x)

thisDict["colours"]="black"

print(thisDict)

dict_values(['TATA', 'Nexon', 2024, ['red', 'white']])
{'brand': 'TATA', 'model': 'Nexon', 'year': 2024, 'colours': 'black'}

In [110]:
thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018",
    "year":2024,
    "colours":["red","white"]
}

X = thisDict.items()
print(x)

thisDict["model"]="altroz"

print(thisDict)

dict_values(['TATA', 'Nexon', 2024, 'black'])
{'brand': 'TATA', 'model': 'altroz', 'year': 2024, 'colours': ['red', 'white']}

In [112]:
thisDict={
    "brand":"TATA",
    "model":"Nexon",
    "year":"2018",
    "year":2024,
    "colours":["red","white"]
}

if "models" in thisDict:
    print("yes")
else:
    print("no")

no